<div class="panel main" ng-controller="billController">
    <ng-include src="'assets/pages/header.html'"></ng-include>

    <div class="qrcodeBtn" ng-click="qrcode()">
        <i class="fa fa-qrcode"></i>
    </div>

    <div class="notificationBtn" ng-click="notification()">
        <i class="fa fa-exclamation"></i>
    </div>

    <h1 class="subtitle">Bills</h1>

    <section class="card" ng-hide="isAccountSelected" ng-click="nextAccount()">
        <h1>Choose an Account</h1>
        <h2>Tip: keep clicking to change account</h2>
        <span class="amount">&nbsp;</span>
    </section>

    <section class="card" ng-show="isAccountSelected" ng-click="nextAccount()">
        <h1>{{account.name}}</h1>
        <h2>{{account.number}}</h2>
        <span class="amount">$ {{account.amount}}</span>
    </section>

    <div class="card">
        <label>Payee:</label>
        <select ng-model="payee">
            <option value="1">Bell</option>
            <option value="2">Canada Revenue Agency</option>
            <option value="3">City of Toronto</option>
            <option value="4">Fido</option>
            <option value="5">Rogers</option>
            <option value="6">Toronto Hydro</option>
            <option value="7">University of Toronto</option>
            <option value="8">Walmart Canada</option>
            <option value="9">Wind</option>
        </select>

        <label>Account Number:</label>
        <input type="number" ng-model="accountNumber">

        <label>Amount:</label>
        <input type="number" ng-model="amount">
    </div>

    <section class="nav">
        <div class="btn2" ng-click="mainPage()">
            <i class="fa fa-reply"></i>
            <h3>Back</h3>
        </div>        
        <div class="btn2" ng-click="billForm()">
            <i class="fa fa-chevron-circle-right"></i>
            <h3>Continue</h3>
        </div>
    </section>

</div>
