<div class="panel main" ng-controller="billFormController">
    
    <ng-include src="'assets/pages/header.html'"></ng-include>
    
    <div class="billFormConfimation">
        <p><h2>Payee: Rogers </p>
        
        <p><h2>Account Number: 2332 2398 3987 9872</h2></p>

        <p><h2>Amount: $123.45</h2></p>
    </div>
    
    <div class="billFormBtn">   
        <div>
            <button class="btn" ng-click="edit()">Edit</button>
        </div>

        <div>
            <button class="btn" ng-click="pay()">Pay</button>
        </div>
    </div>
</div>
