<div class="panel main" ng-controller="billFormController">
    <header>
        <h1>UofBank</h1>
    </header>
    
    <div class="billFormConfimation">
        <p><h2>From: </h2></p>
        
        <p><h2>To: </h2></p>

        <p><h2>Amount: </h2></p>
    </div>
    
    <div class="billFormBtn">   
        <div>
            <button class="btn" ng-click="edit()">Edit</button>
        </div>

        <div>
            <button class="btn" ng-click="pay()">Pay</button>
        </div>
    </div>
</div>
