<div class="panel main" ng-controller="billFormController">
    
    <ng-include src="'assets/pages/header.html'"></ng-include>
    
    <div class="billFormConfimation">
        <a>Payee: </a> <p id="pay"></p>

        <a>Account Number: </a> <p id="accnum"></p>

        <a>Amount: </a> <p id="amnt"></p>

    </div>
    
    <div class="billFormBtn">   
        <div>
            <button class="btn" ng-click="edit()">Edit</button>
        </div>

        <div>
            <button class="btn" ng-click="pay()">Pay</button>
        </div>
    </div>
</div>
