<div class="panel main" ng-controller="balanceController">

    <ng-include src="'assets/pages/header.html'"></ng-include>

    <section class="card">
        <h1>Checking Balance</h1>
        <h2>4567 XXXX XXXX 1234</h2>
        <span class="amount">$ 123.45</span>
    </section>

    <section class="transactions">
        <select ng-model="selectedMonth">
            <option value="0">Current Period</option>
            <option value="1">February 2014</option>
            <option value="2">January 2014</option>
            <option value="3">December 2013</option>
        </select>

        <div class="month" ng-repeat="month in transactions" ng-show="$index == selectedMonth">
            <div class="transaction" ng-repeat="transaction in month">
                {{transaction.date}} - {{transaction.name}}
                <span>$ {{transaction.amount}}</span>
            </div>
        </div>
    </section>

    <section class="nav">
        <div class="btn1" ng-click="mainPage()">
            <h3>Main Page</h3>
        </div>
    </section>
</div>
