<div class="panel login" ng-controller="loginController">

    <ng-include src="'assets/pages/header.html'"></ng-include>

    <section class="account-number">
        <label class="account-number-label">Card Number</label>
        <input class="account-number-input" type="text" ui-mask="9999 9999 9999 9999" ng-model="account.number">
        <label class="save-label">
            <input type="checkbox" ng-model="account.save">
            Save
        </label>
    </section>

    <section class="nav">
        <div class="btn1" ng-click="signIn()">
            <h3>Sign In</h3>
        </div>
    </section>
</div>
