<div class="panel main" ng-controller="qrcodeFormController">
    <ng-include src="'assets/pages/header.html'"></ng-include>

    <section class="card">
        <p class="transferTitle">From</p>
        <h1>{{account.name}}</h1>
        <h2>{{account.number}}</h2>
        <span class="amountTransfer">$ {{account.amount}}</span>
    </section>
    
    <div class="card">
        <h1>Rogers</h1>
        <h2>4315 8746 1027 9371</h2>
        <span class="amount">$ 127.81</span>
    </div>

    <section class="nav">
        <div class="btn2" ng-click="edit()">
            <i class="fa fa-pencil"></i>
            <h3>Edit</h3>
        </div>
        <div class="btn2" ng-click="pay()">
            <i class="fa fa-check-square-o"></i>
            <h3>Confirm</h3>
        </div>
    </section>

</div>
