<div class="panel main" ng-controller="transferFormController">

    <ng-include src="'assets/pages/header.html'"></ng-include>

    <section class="card">
        <p class="transferTitle">From</p>
        <h1>{{accountFrom.name}}</h1>
        <h2>{{accountFrom.number}}</h2>
        <br>
        <p class="transferTitle">To</p>
        <h1>{{accountTo.name}}</h1>
        <h2>{{accountTo.number}}</h2>
        <p class="transferTitle">Amount</p>
        <span class="amount">$ {{amount}}</span>
    </section>

    <section class="nav">
        <div class="btn2" ng-click="edit()">
            <i class="fa fa-pencil"></i>
            <h3>Edit</h3>
        </div>
        <div class="btn2" ng-click="pay()">
			<i class="fa fa-check-square-o"></i>
            <h3>Confirm</h3>
        </div>
    </section>
</div>
