<div class="panel main" ng-controller="transferController">
    <header>
        <h1>UofBank</h1>
    </header>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--First Slide-->
            <section class="card swiper-slide">
                <h2>Card Number: 1241 4125 1234 5121</h1>
                <h2>Good Thru: 10/18</h2>
                <h2>Max C.</h2>
            </section>

            <!--Second Slide-->
            <section class="card swiper-slide">
                <h1>Card Number: 5312 5361 7854 9135</h1>
                <h2>Good Thru: 05/16</h2>
                <h2>Marie C.</h2>
            </section>
        </div>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--First Slide-->
            <section class="card swiper-slide">
                <h2>Card Number: 4353 6745 2345 8472</h1>
                <h2>Good Thru: 10/19</h2>
                <h2>John T.</h2>
            </section>

            <!--Second Slide-->
            <section class="card swiper-slide">
                <h1>Card Number: 7235 9345 7621 8362</h1>
                <h2>Good Thru: 01/20</h2>
                <h2>Marie T.</h2>
            </section>
        </div>
    </div>

    <a>Amount:</a>
    <input type="text">

    

	<div class="transBtn">

        <div>
            <button class="btn" ng-click="mainPage()">Main Page</button>
        </div>
        
        <div>
            <button class="btn" ng-click="transferForm()">Transfer</button>
        </div>
   		
	<div>
</div>

