<div class="panel main" ng-controller="transferController">

    <ng-include src="'assets/pages/header.html'"></ng-include>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--First Slide-->
            <section class="card swiper-slide">
                <h1 class="accNmbr">1241 4125 1234 5121</h1>
                <h2>10/18</h2>
                <span class="amount">Max C.</span>
            </section>

            <!--Second Slide-->
            <section class="card swiper-slide">
                <h1 class="accNmbr">5312 5361 7854 9135</h1>
                <h2>05/16</h2>
                <span class>Marie C.</h2>
            </section>
        </div>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">

            <section class="card swiper-slide">
                <h1 class="accNmbr">4353 6745 2345 8472</h1>
                <h2>10/19</h2>
                <span class="amount">John T.</span>
            </section>


            <section class="card swiper-slide">
                <h1 class="accNmbr">7235 9345 7621 8362</h1>
                <h2>01/20</h2>
                <span class="amount">Maria T.</span>
            </section>
        </div>
    </div>

    <div class="slider">
        <br>
        <a>Amount: </a><span id="val" ng-bind="time">0</span>
        <br>
        <input type="range" ng-model="time" min="0" max="2000" step="25">
    </div>

    <section class="nav">
        <div class="btn2" ng-click="mainPage()">
            <h3>Back</h3>
        </div>
        <div class="btn2" ng-click="transferForm()">
            <h3>Continue</h3>
        </div>
    </section>
</div>
