.panel.login
    h1
    label
    input[type="text"]
        display: block
        margin: 0 10%
        width: 80%

    h1
        font-size: 40pt
        margin-bottom: 60pt

    input[type="text"]
        height: 26pt
        margin: 8pt auto 4pt

    button
        display: block
        height: 26pt
        margin: 90pt auto 10pt
        width: 20%
