.billFormBtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  margin-bottom: 25%;
}
.billFormBtn .btn {
  width: 80px;
  height: 50px;
}
div.billFormBtn > div:nth-child(1) {
  float: left;
  margin-left: 15%;
}
div.billFormBtn > div:nth-child(2) {
  float: right;
  margin-right: 15%;
}
