* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  user-select: none;
}
html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 2rem;
  font-weight: 200;
}
.view {
  height: 100%;
}
.overlay {
  position: absolute;
  z-index: 9999;
}
.panel {
  background-color: #e9ebee;
  box-sizing: border-box;
  height: 100%;
  padding: 72px 0;
  overflow-y: auto;
  position: relative;
  width: 100%;
}
.panel::-webkit-scrollbar {
  width: 0 !important;
}
.card {
  background: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px #aaa;
  margin: 2vh 3vw;
  position: relative;
  padding: 5vh 8vw;
  width: 94vw;
  z-index: 2;
}
.card h1 {
  display: block;
  margin: 0;
}
.card h2 {
  color: #808080;
  display: block;
  font-size: 10pt;
  font-weight: 400;
  line-height: 2.5;
  margin: 0 0 2vh;
  letter-spacing: 1pt;
}
.card .amount {
  font-size: 18pt;
  font-weight: 500;
}
