.panel.login .account-number-label {
  display: block;
  margin: 20vh auto 0;
  width: 80vw;
  text-align: left;
}
.panel.login .account-number-input {
  display: block;
  height: 7vh;
  margin: 2vh auto 1vh;
  width: 80vw;
}
.panel.login .save-label {
  display: block;
  margin: 0 auto;
  width: 80vw;
  text-align: left;
}
.panel.login button {
  display: block;
  height: 26pt;
  margin: 90pt auto 10pt;
  width: 20%;
}
