.transBtn{
	position: absolute;
	bottom: 0;
	margin-bottom: 10%;
	width: 100%;
	height: 5%;
}

.transBtn .btn{
	width: 80px;
	height: 50px;
}

div.transBtn > div:nth-child(1){
	float: left;
	margin-left: 15%

}

div.transBtn > div:nth-child(2){
	float: right;
	margin-right: 15%;
}

.slider{
	margin-left: 15%; 
}

.slider input{
	width: 250px;
}


.accNmbr{
	font-size: 220%;
}

.dt{
	font-size: 130%;	
}