.subtitle {
  margin-left: 15px;
}
.notificationBtn,
.qrcodeBtn {
  float: right;
  font-size: 22pt;
  margin-top: 25px;
  margin-right: 25px;
  color: #333;
}
.card select,
.card input {
  width: 100%;
}
.card input {
  height: 30px;
  border: 1px solid #777;
}
.card select {
  height: 40px;
}
.card label {
  display: block;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
