.topBtn{
	margin: 5%;
	width: 100%;
	height: 10%;
	margin-bottom: 10%;
}

div.topBtn > div:nth-child(1){
	display: inline-block;
}

div.topBtn > div:nth-child(2){
	display: inline-block;
	margin-left: 20%;
}

div.topBtn > div:nth-child(3){
	display: inline-block;
	margin-left: 8%;	
}

.billForm{
	width: 100%;
	height: 40%;
	margin-left: 15%;
}

.billForm .billForm-input {
  display: block;
  height: 30px;
  margin: 6px 0;
  width: 70%;
  border: 1px solid #aaa;
  box-sizing: border-box;
  font-size: 12pt;
  padding: 3px 10px;
}

.billBtn{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 15%;
}

.billBtn .btn{
	width: 80px;
	height: 50px;
}


.title{
	display: inline-block;
}

.field{
	width: 100%;
}

.text{
	font-size: 130%;
}

.notificationBtn{
	width: 27%;
	height: 80%;
	background-color: #56738c;
}

.qrcodeBtn{
	width: 20%;
	height: 80%;
	background-color: #56738c;	
}

.billTxt{
	text-align: center;
	color: white;
}