header {
  background-color: #1e4359;
  color: #fff;
  height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
header h1 {
  line-height: 72px;
  font-size: 36px;
  margin: 0 6vw;
  vertical-align: middle;
  display: inline-block;
}
header i {
  float: right;
  width: 15vw;
  height: 72px;
  display: inline-block;
  vertical-align: middle;
  line-height: 72px !important;
  font-size: 36px;
  text-align: center;
}
