.nav {
  background-color: #666;
  bottom: 0;
  box-sizing: border-box;
  height: 72px !important;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 999;
  text-align: center;
}
.nav .btn,
.nav .btn1,
.nav .btn2,
.nav .btn3 {
  box-sizing: border-box;
  display: inline-block;
  height: 72px;
  line-height: 72px;
  padding: 0 1vw;
  text-align: center;
  vertical-align: middle;
}
.nav .btn1 {
  width: 96vw;
}
.nav .btn2 {
  width: 48vw;
}
.nav .btn3 {
  width: 32vw;
}
.nav .btn1 i,
.nav .btn2 i,
.nav .btn3 i {
  height: 72px;
  color: #fff;
  display: inline-block;
  font-size: 6vw;
  line-height: 72px;
  margin: 0 1vw;
  vertical-align: middle;
}
.nav .btn1 h3,
.nav .btn2 h3,
.nav .btn3 h3 {
  color: #fff;
  display: inline-block;
  font-size: 4vw;
  font-weight: 700;
  line-height: 72px;
  margin: 0;
  vertical-align: middle;
}
